.studyrecord {
  flex: 9;
  height: 100vh;
  width: 100%;
}

.studyrecordWrapper {
  padding: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.studyrecordTop {
  align-items: center;
  justify-content: center;
}

.studyrecordMessage {
  font-size: 25px;
  font-weight: 30px;
  color: #157545;
  padding-left: 30px;
}

.studyrecordCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
