.topbarContainer {
  background-color: #2d445d;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.topbarCenter {
  display: flex;
  justify-content: center;
  flex: 6;
  font-size: 25px;
  font-weight: bold;
  color: white;
  padding-right: 170px;
}

.backhome {
  border-radius: 10px;
  border: none;
  background-color: #7aaedd;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 20px;
}
.backhome:hover {
  box-shadow: none;
  transform: translateY(5px);
  background-color: #26e057;
}
