.showrecord {
	width: 100%;
  box-shadow: 6px 7px 13px -11px #065489;
	margin: 10px;
}

.showrecordWrapper {
	height: 50px;
	display: flex;
	background-color: #FFFFED;
	flex-direction: initial;
	align-items: center;
	/* justify-content: center; */
}

.subject {
	align-items: center;
	justify-content: center;
	padding: 20px;
	font-size: 20px;
	font-weight: 300;
	color: #A800ED;
}

.studytime {
	font-size: 20px;
	font-weight: 200;
}

.editbutton {
	height: 30px;
  border-radius: 10px;
  border: none;
  background-color: #C5F2D9;
  color: black;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
	margin-left: 40px;
}