.recordcalendar {
  flex: 10;
  display: flex;
  flex-direction: initial;
  align-items: center;
  justify-content: center;
  margin-bottom: 800px;
  margin-top: 30px;
}
.dateText {
  font-size: large;
  font-weight: 700;
}

.calendar {
  transform: scale(1.9);
  margin: 0 0 0 90px;
}
